body {
    display: flex;
    margin: 0px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dark-mode {
    background-color: black;
    color: white;
}

.header {
    width: 100%;
    height: 100px;
    display: block;
    justify-content: left;
    position: relative;
    background-color: black;
}

.innerHeader {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.titleContainer {
    height: 100%;
    float: left;
    display: table;
}

.title {
    height: 100%;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.darkmodecheckbox {
    height: 100%;
    display: table-cell;
    float: right;
    vertical-align: middle;
    color: white;
}

.calculator {
    width: auto;
    height: auto;
    min-height: 400px;
    display: grid;
    grid-template-areas: 
        "display display"
        "content menu"
        "footer footer";
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 0.5fr fit-content 0.5fr;
    gap: 5px;
    background-color: black;
}

.calculator > div.display {
    grid-area: display;
    background-color: gray;
}

.calculator > div.menu {
    grid-area: menu;
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
    background-color: gainsboro;
}

.calculator > div.content {
    grid-area: content;
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
    background-color: gainsboro;
}

.calculator > div.footer {
    grid-area: footer;
    background-color: white;
}

.display textarea {
    resize: vertical;
    width: 330px;
}

.content button {
    width: 50px;
    height: 50px;
    font-size: 16px;
}

.menu button {
    width: 50px;
    height: 50px;
    font-size: 20px;
}

#tabela table {
    border: none;
    border-collapse: collapse;
    border-radius: 15px;
    width: 100%;
    font-weight: bold;
    background-color: rgb(176, 176, 204);
}

#tabela th {
    font-size: 20px;
}

#tabela th, #tabela td {
    height: 40px;
    border: 2px solid white;
    text-align: center;
}

.calculator button {
    border-radius: 50%;
    padding: 0px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
    border: none;
}
